<a href="https://colab.research.google.com/github/rpn8825/Data-3401/blob/main/W3_HW2_Questions_Python_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Homework 2: Basic Markdown, Python Variables, Math Operations, User Input, and PEMDAS**

This homework is designed to enhance your understanding of several fundamental concepts in Python and Jupyter Notebooks, including Markdown formatting, variable assignment, basic mathematics operations, handling user input, and the order of operations (PEMDAS).

**Instructions:**
- Answer each question in the notebook, using a Markdown cell for explanations and a code cell for Python code.
- Ensure to execute your Python code to display the answers where applicable.

1. Show what Markdown is used for in Jupyter Notebooks.

In [66]:
# Markdown is used for formatting text in Jupyter Notebooks (e.g. using # for headers)
# Header Example

2. Show how to format text to be bold in Markdown? Provide an example.

In [67]:
# To format text to be bold in Markdown, use two asterisks before and after the text you want bold:
# **Bold Text**

**Bold Text**

3. Create a Python variable named `a` and assign it the value 5.

In [68]:
# You can assign a variable to a numerical value by writing the variable along with the = operator and the assigned value

a=5

4. Perform an addition operation with any two numbers and display the result.

In [89]:
# You can perform an addition operation of any two numbers with the + operator in between
# If you want to assign the sum to a variable, you must use print() function with the variable name of the sum inside the paranthesis to return value

5+10

15

5. Divide 15 by 3 and show the result.

In [71]:
# Using the / operator in between 15 and 3 will give you the result of the division operation as a float

15/3

5.0

6. Use the `input()` function to ask the user for their name and then greet them.

In [72]:
# Assign a variable to be equal to the input() function to ask user for input along with the user input request within quotations inside ()
# Afterwards, you can use print() function to return the input along with whatever message you want to show in quotations inside paranthesis

name=input("Enter your name: ")
print("Hi", name, ", how are you doing?")

Enter your name: Ryan Nguyen
Hi Ryan Nguyen , how are you doing?

7. Calculate the square of 7 and display the result.

In [73]:
# To perform an exponential operation such as the square of 7, you use the ** operator in between 7 and 2

7**2

49

8. Ask the user for a number, multiply it by 2, and display the result.

In [74]:
# To ask the user for a number, you must assign a variable equal to int() or float() functions with nested input() function within the paranthesis to ask for user input
# Then, you can assign a new variable equal to the multiplication of the user input variable and 2 and return the value using print() function

a=float(input("Enter a number: "))
b=a*2
print(b)

Enter a number: 5
10.0

9. Write a program that converts time from hours to seconds. Ask the user to input the time in hours, and then convert that time into seconds. Remember, 1 hour equals 3600 seconds.

In [75]:
# Assign a variable equal to the float() function of input() function for user input for time in hours and then assign another variable equal to user input variable with * operator and 3600 for sec per hour
# Lastly, return the 2nd variable (time converted to sec) using print() function

time_hr=float(input("Enter the time period in hours: "))
time_s=time_hr*3600
print("The time is:", time_s, "s")

Enter the time period in hours: 1
The time is: 3600.0 s

10. Evaluate the expression `3 * (4 + 5) - 6 / 2` and display the result.

In [76]:
# You can either assign a variable and print the variable or straight type out the mathmatical expression exactly as displayed to which the answer is returned

x=3*(4+5)-6/2
print(x)

24.0

11. Assign the string 'Python' to a variable and print it.

In [78]:
# You can assign a string variable the same way as any other variable except the value is in quotations
# Then, using the print() function, return the value of the string
# In addition, you can use the type() function to check that the value type of the variable is a string

x="Python"
print(x)
type(x)

Python

str

12. Calculate the remainder when 22 is divided by 5.

In [79]:
# Either assigning a variable or straight writing the expression, you can divide two numbers using the % operator in between
# The example below returns the remainder of the division operation of 22 and 5

22%5

2


13. Ask the user for two numbers, add them together, and display the sum.

In [80]:
# Assign variables to floats or integers, float() and int() functions, respectively, of input() function asking for user input for the two numbers
# Assign another variable equal to the sum of the two variables using + operator and then print() function to return the sum value

x=float(input("Enter the first number:"))
y=float(input("Enter the second number:"))
sum=x+y
print(sum)

Enter the first number:5
Enter the second number:5
10.0

14. Write a Python code snippet that takes user input and prints the type of the input variable.

In [81]:
# Assign a variable equal to input() function with user input request in quotations inside paranthesis
# Using an if statement, determine if x is an integer with isnumeric() function, which checks if variable only contains numbers (0-9)
# If it is an integer, use int() function to take integer of user input variable and type() function within print() function to return value type
# Using else statement for when input is not an integer, determine if float or string
# Using a nested condition within else statement: use x.replace() function to replace decimal point within user input (x is user input variable) and use isnumeric() function to check if it's a float then take float of user input and print() the type()
# Using the last else, print the type of x, which is by default a string as the conditions for integer and float were not met

x=input("Enter user input: ")

if x.isnumeric():
  y=int(x)
  print(type(y))
else:
  if x.replace(".", "").isnumeric():
    y=float(x)
    print(type(y))
  else:
    print(type(x))

Enter user input: 5.5
<class 'float'>

15. Calculate the product of 8 and 12, then subtract 4 and display the result.

In [82]:
# Either assign a variable equal to expression or straight write the expression using * as the multiplication operator and - as the subtraction operator to calculate expression
# Per PEMDAS, the expression takes the product of 8 and 12 and subtracts 4 from it

8*12-4

92

16. Explain the difference between `==` and `=` in Python.

In [83]:
# The == operator checks equality of statement and returns TRUE or FALSE
# The = operator makes a variable equal to some value or function
# Examples of each are below to show distinction

x=1
print(x)

x==x

1

True

17. Use Python to find the floor division of 100 by 11.

In [84]:
# Either assign a variable equal to expression or straight writing the expression: take value being divided along with // operator and value being divided by to find floor division
# Floor division, or integer division, returns the integer value of result of divison operation

div_floor=100//11
print(div_floor)

9

18. Ask the user for a number, then calculate the square of that number.

In [85]:
# Assign a variable equal to the float() or int() function of the input() function for requesting user input
# Assign another variable equal to the user input variable along with ** operator and 2 to calculate the square of that number and use print() function to return result

x=float(input("Enter a number: "))
x_squared=x**2
print(x_squared)

Enter a number: 5
25.0

19. What does the `%` operator do in Python? Provide an example.

In [86]:
# The % operator returns the remainder of a division operation (example below)

5%2

1

20. Using variables, demonstrate how to calculate and print the area of a rectangle (length * width).

In [88]:
# Assign two variables equal to the length and width, respectively
# Then, assign a new variable for area, which is equal to the product of length and width using * operator
# Lastly, use the print() function of new variable to return the area

length=5
width=2
area=length*width
print(area)

10